body{
    background-image: url(../css/historia.webp) ;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(199, 231, 13, 0.808);
    overflow-y: auto;
    text-shadow: 3px 3px 10px black;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    max-width: 600px;
    margin: auto;
}
main{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

}
img{
    width: 450px;
    height: 500px;
}
p {
    height: 500px;
    width: 500px;

}
nav button{
    border: 2px solid red;
    padding: 10px 20px;
    background-color: transparent;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

@media (max-width: 768px){
    body{
        background-image: url(../css/historia.webp) ;
        background-position:center ;
        background-size: cover;
        background-repeat: no-repeat;
        color: rgba(199, 231, 13, 0.808);
        overflow-y: auto;
        text-shadow: 3px 3px 10px black;
    
}